<div class="mb-3 d-flex align-items-center">                
        <div class="col-md-4">
        <a href="<%= post.link %>">
            <img class="w-100" src="<%= post.image_urls.sample %>" alt="<%= post.title %>">
        </a>
        </div>             
        <div>
            <h2 class="mb-2 h6 font-weight-bold">
            <a class="text-dark" href="<%= post.link %>"><%= post.title %></a>
            </h2>
            <small class="text-muted">
                <%= post.created_at %>
            </small>
        </div>
    </div>