<div class="container">

<%= form_for @post do |f| %>
  <h1>Edit Post</h1>
  <div class="row"> 
    <p>
     <%= f.label :title %>
     <%= f.text_field :title %>
    </p>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <%= f.label :body%>
        <%= f.text_area :body %>
      </p>
    </div>
    <div class="col">
      <div id="preview"></div>
    </div>
  </div>
  <div class="row">
    <%= f.hidden_field :html, id: 'html-injector' %>
    <p>
      <%= f.submit %>
    </p>
  </div>
  <% end %>
</div>






