
<%= form_for @post do |f| %>
  <h1>Edit Post</h1>
  <div class="row"> 
    <p>
     <%= f.label :title %>
     <%= f.text_field :title %>
     <%= f.label :description %>
     <%= f.text_field :description %>
    </p>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <%= f.label :body%>
        <%= f.text_area :body %>
      </p>
    </div>
    <div class="col">
      <p>
        <%= f.label :html %>
        <%= f.text_area :html, id: "html-injector" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="preview"></div>
    </div>
  </div>
  <div class="row">
  <!-- <%= f.hidden_field :html, id: 'html-injector' %> --!>
    <p>
      <%= f.submit %>
    </p>
  </div>
  <% end %>






